<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <profiles>
        <profile>
            <id>dev</id>
            <properties>
                <databaseUrl>jdbc:postgresql://localhost:5432/bookshelf</databaseUrl>
            </properties>
        </profile>
        <profile>
            <id>production</id>
            <properties>
                <databaseUrl>jdbc:postgresql://172.17.0.2:5432/bookshelf</databaseUrl>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>dev</activeProfile>
    </activeProfiles>
</settings>